/*Services segment*/
.services-segment {
    margin: 2vh 60px 10vh 60px;
    padding-top: 10vh;
}

.services-segment .title {
    color: #a64242;
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-align: center;
}

.service-1, .service-2, .service-3, .service-4, .service-5 {
    background-color: white;
    height: 30vh;
    width: 100%;
    margin: 20px 0 20px 0;
    /*padding: 2rem 2rem 2rem 2rem;*/
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    /*transition: all 0.3s ease-in-out;*/
    text-align: center;
    font-size: 3vmin;
    font-weight: 500;
    display: inline-block;
}

.service-1:hover, .service-2:hover, .service-3:hover, .service-4:hover, .service-5:hover {
    /*border: 1px solid rgb(153, 225, 227);*/
}

.service-icon {
    cursor: pointer;
    height: 140px;
    margin: 2rem 1rem 3rem 1rem;
    /*padding: 0.5rem 0.5rem 0.5rem 0.5rem;*/
    border: 4px solid #a64242;
    border-radius: 50%;
    user-select: none;
    transition: 0.2s all ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.20);
}

.service-icon:hover {
    transform: scale(1.5);
}

.service-container {
    display: flex;
    justify-content: center;
}

.service-info {
    /*margin: 2rem 1rem 1rem 1rem;*/
}

.service-info-card {
    /*border: 2px solid #a64242;*/
    background-color: #faeded;
    border-radius: 10px;
    /*height: 100px;*/
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

}