/*Contacts segment*/
.contacts-segment {
    margin: 2vh 0 10vh 0;
    padding-top: 10vh;
}

.contacts-segment .title {
    color: #a64242;
    font-size: 50px;
    font-weight: 500;
    margin: 0 0 20px 0;
    text-align: center;
}

/*.contacts-area {*/
/*    height: 60vh;*/
/*}*/

.google-map-location {
    /*display: inline-block;*/
    height: 60vh;
    width: 100%;
    margin: 2em 0 2em 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

/*.contacts-data {*/
/*    display: inline-block;*/
/*    text-align: center;*/
/*    !*border: 1px solid black;*!*/
/*    height: 60vh;*/
/*    width: 40%;*/
/*    position: relative;*/
/*    top: -160px;*/
/*}*/

.contact-data-card-1, .contact-data-card-2 {
    /*background-color: white;*/
    height: 100%;
    /*width: 100%;*/
    margin: 0 0 0 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    /*transition: all 0.3s ease-in-out;*/
    text-align: center;
    backdrop-filter: blur(14px);
}

.contact-data-card-3 {
    /*background-color: white;*/
    /*height: 20%;*/
    /*width: 100%;*/
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    /*transition: all 0.3s ease-in-out;*/
    text-align: center;
    backdrop-filter: blur(14px);
}

.contact-number-1, .contact-number-2, .contact-email {
    margin: 0.5rem;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.contact-number-1:hover, .contact-number-2:hover, .contact-email:hover {
    text-decoration: underline;
    color: black;
}

.contact-name-1, .contact-name-2 {
    font-size: 24px;
    font-weight: 400;
    display: block;
}

.phone-icon {
    height: 2.5vw;
    min-height: 20px;
    margin: 2rem;
}

.email-icon, .telegram-icon, .viber-icon{
    height: 2.5vw;
    min-height: 20px;
    cursor: pointer;
    margin: 1rem;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.email-icon:hover, .telegram-icon:hover, .viber-icon:hover{
    transform: scale(1.3);
}

.email-data {

}

.sn-links {

}

.sn-label {
    font-size: 18px;
    font-weight: 400;
}