/*Contacts segment*/
.contacts-segment {
    margin: 0 0 10vh 0;
    padding: 10vh 0 0 0;
}

.google-map-location {
    height: 60vh;
    width: 100%;
    margin: 2em 0 2em 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.contact-data-card-1, .contact-data-card-2 {
    background-color: #faf7f7;
    margin: 0 0 0 0;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    /*transition: all 0.3s ease-in-out;*/
    text-align: center;
}

.contact-data-card-3 {
    background-color: #faf7f7;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    /*transition: all 0.3s ease-in-out;*/
    text-align: center;
}

.contact-number-1, .contact-number-2 {
    margin: 0.5rem;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    color: #a64242;
    display: inline-block;
}

.location-photo-card {
    /*background-color: #faf7f7;*/
    background-image: url("../photos/LocationPhoto.JPG");
    margin: 2em 0 2em 0;
    height: 60vh;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    /*background-position: center;*/
    background-size: cover;
}

.contact-number-1:hover, .contact-number-2:hover, .contact-email:hover {
    text-decoration: underline;
    color: #a64242;
}

.contact-name-1, .contact-name-2 {
    font-size: 1.4em;
    font-weight: 400;
    display: block;
    color: #a64242;
}

.phone-icon {
    height: 2.6vw;
    min-height: 20px;
    margin: 2rem;
}

.email-icon, .telegram-icon, .viber-icon{
    height: 2.4vw;
    min-height: 20px;
    cursor: pointer;
    margin: 1rem;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.email-icon:hover, .telegram-icon:hover, .viber-icon:hover{
    transform: scale(1.3);
}