/*Goods segment*/
.goods-segment {
    margin: 0 0 10vh 0;
    padding-top: 10vh;
}

.d-block {
    border-radius: 10px;
    height: 75vh;
}

.carousel-item {
    height: 75vh;
    width: 100%;
    background-size: cover;

}

.carousel-caption {
    margin: auto;
    width: 34%;
    border-radius: 10px;
    color: #a64242;
    background-color: #faeded;
}

.carousel-caption-title {
    font-size: 1.4em;
    font-weight: 400;
}

.carousel-control-prev-icon {
    background-color: #a64242;
    border-radius: 10px;
    height: 20%;
}

.carousel-control-next-icon {
    background-color: #a64242;
    border-radius: 10px;
    height: 20%;
}