/*!* hide scrollbar but allow scrolling *!*/
/*body {*/
/*    -ms-overflow-style: none; !* for Internet Explorer, Edge *!*/
/*    scrollbar-width: none; !* for Firefox *!*/
/*    overflow-y: scroll;*/
/*}*/

/*body::-webkit-scrollbar {*/
/*    display: none; !* for Chrome, Safari, and Opera *!*/
/*}*/

/*HTML and Body*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #faeded;
    font-family: "Gilroy";
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .welcome-segment {
        height: auto;
    }

    .scroll-down-icon {
        visibility: hidden;
    }

    .down-arrow-icon {
        visibility: hidden;
    }

    .goods-segment-container {
        margin: 0 2em 0 2em;
    }

    .services-segment-container {
        margin: 0 2em 0 2em;
    }

    .contacts-segment-container {
        margin: 0 2em 0 2em;
    }
}


@media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
    .welcome-segment {
        height: 70vh;
    }

    .goods-segment-container {
        margin: 0 8em 0 8em;
    }

    .services-segment-container {
        margin: 0 10em 0 10em;
    }

    .contacts-segment-container {
        margin: 0 8em 0 8em;
    }
}


@media screen and (min-device-width: 1201px) {
    .welcome-segment {
        height: 70vh;
    }

    .goods-segment-container {
        margin: 0 10em 0 10em;
    }

    .services-segment-container {
        margin: 0 12em 0 12em;
    }

    .contacts-segment-container {
        margin: 0 10em 0 10em;
    }
}


.goods-segment .title, .services-segment .title, .contacts-segment .title {
    color: #a64242;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0 0 1em 0;
    text-align: center;
}



/*Welcome segment*/
.welcome-segment {
    padding-top: 20vh;
    background: linear-gradient(to bottom, #F2D7D5, #faeded);
    /*background-color: #e8fdff;*/
    height: 100vh;
}

.welcome-segment .title {
    height: 180px;
    font-size: 10em;
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin: 0;
    user-select: none;
    /*color: #a64242;*/
    background: -webkit-linear-gradient(#000000, #a64242);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    user-select: none;
    background: -webkit-linear-gradient(#a64242, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.to-goods-button-area {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.to-goods-button {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding: 6px 20px 6px 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.20);
    border: 2px solid #a64242;
    color: #a64242;
    background-color: #faf7f7;
    transition: all 0.2s ease-in-out;
}

.to-goods-button:hover {
    border: 2px solid #a64242;
    color: #faeded;
    background-color: #a64242;
}

.scroll-down-icon-area {
    display: flex;
    justify-content: center;
}

.scroll-down-icon {
    position: absolute;
    bottom: 10vh;
    height: 30px;
    user-select: none;
}

.down-arrow-icon-area{
    display: flex;
    justify-content: center;
}

.down-arrow-icon {
    position: absolute;
    bottom: 6vh;
    height: 16px;
    user-select: none;
    animation-duration: 2s;
    animation-name: arrow-moves;
    animation-iteration-count: infinite;
}

@keyframes arrow-moves {
    0% {
        bottom: 7vh;
    }

    30% {
        bottom: 4vh;
    }

    100% {
        bottom: 7vh;
    }
}

.horizontal-divider {
    margin: 0 4vw 2vh 4vw;
    color: #a64242;
}

.welcome-segment-image-1 {
    position: absolute;
    top: 100px;
    right: 300px;
    z-index: 0;
    width: 16vw;
}

.welcome-segment-image-2 {
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 0;
    width: 20vw;
}



/*!*About segment*!*/
/*.about-segment {*/
/*    margin: 10vh 60px 10vh 60px;*/
/*}*/

/*.about-segment .title {*/
/*    font-size: 50px;*/
/*    font-weight: 500;*/
/*    margin: 0;*/
/*}*/


/*.vertical-line {*/
/*    height: 60vh;*/
/*    border-left: 2px solid black;*/
/*    position: relative;*/
/*    top: -100px;*/
/*    margin-top: 60px;*/
/*    margin-left: 50%;*/
/*}*/



/*Footer*/
footer {
    /*background-color: #F0F8FF;*/
    width: 100%;
    height: 200px;
    padding: 20px;
    color: #a64242;
    text-align: center;
}
