/*Services segment*/
.services-segment {
    margin: 0 0 10vh 0;
    padding-top: 10vh;
}

.service-1, .service-2, .service-3, .service-4, .service-5, .service-6 {
    background-color: #faf7f7;
    height: 40vh;
    width: 20vw;
    margin: 1.5em 1.5em 1.5em 1.5em;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    font-size: 3vmin;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s all ease-in-out;
}

.service-1:hover, .service-2:hover, .service-3:hover, .service-4:hover, .service-5:hover, .service-6:hover {
    transform: scale(1.1);
}

.service-icon {
    cursor: pointer;
    height: 5.5em;
    background-color: #faeded;
    margin: 2em 1em 1em 1em;
    border-radius: 50%;
    user-select: none;
    transition: 0.2s all ease-in-out;
}

.service-icon:hover {
    /*transform: scale(1.1);*/
}

.service-container {
    display: flex;
    justify-content: center;
}

.service-info {
    color: #a64242;
    font-weight: 400;
    font-size: 1em;
}

.service-in-card {
    height: 32%;
    background-color: #faeded;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
    /*box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in-out;
}

.service-in-card:hover {
    height: 42%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}